* {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: rgb(230, 214, 164);
}

.dot{
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}

#colorSelector {
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: 120px;
}

#colorSelector label {
font-size: 0.75rem;
color: black;
  }

#colorSelector select {
  width: 100%;
  padding: 0.25rem;
  border-radius: 4px;

}
  

#btns{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}


button {
  min-width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: rgba(132, 228, 22, 1);
  border: none;
  font-weight: 550;
  box-shadow: 0 0 5px 0 rgb(43, 43, 43);
  transition: all 0.2s;
}

button:hover{
  background-color: rgba(154, 235, 61, 1);
}

